@charset "UTF-8";
body {
  margin: 0px auto;
}
/* 왼쪽 nav와 오른쪽 article 구분 */
main {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  align-content: stretch;
}

.condition_nav {
  background-color: aquamarine;
  width: 15vw;
  height: 50rem;
}

/* 각 item들의 레이아웃 정의 */
section {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: stretch;
  gap: 5px;
  margin-left: 2rem;
  background-color: blueviolet;
  width: 100vw;
}

section .img_div {
	display: inline-block;
}
